.my-radio-wrapper{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    display: inline-flex;
    align-items: baseline;
    line-height: unset;
    cursor: pointer;
    .my-radio{
        &+span{
            padding-right: 8px;
            padding-left: 8px;
        }
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #000000d9;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: "tnum";
        position: relative;
        top: 0.2em;
        line-height: 1;
        white-space: nowrap;
        outline: none;
        cursor: pointer;
        .my-radio-input{
            position: absolute;
            inset: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0;
            box-sizing: border-box;
            padding: 0;
        }
        .my-radio-inner{
            position: relative;
            top: 0;
            left: 0;
            display: block;
            width: 14px;
            height: 14px;
            direction: ltr;
            background-color: #fff;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            border-radius: 50%;
            transition: all .3s;
        }
    }
    .my-radio-checked{
        .my-radio-inner{
            border-color: #1890ff;
            &::after{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 8px;
                height: 8px;
                background-color: #1890ff;
                border-color: #1890ff;
                border-radius: 50%;
                content:''
            }
        }
    }
    .my-radio-disabled{
        cursor: not-allowed;
        .my-radio-inner {
            background-color: #f5f5f5;
            border-color: #d9d9d9!important;
            &::after{
                border: 2px solid #ccc;
                border-top: 0;
                border-left: 0
            }
        }
        .my-radio-input{
            cursor: not-allowed;
        }
    }
}